.productImage {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid red;
    object-fit: cover;
}


.mehedi {
    text-align: center;
    display: none;
    margin: 0 auto;
}

.mehedi-active {
    display: block;
}